<html>
<head>
    <base target="_blank">
</head>
<body>

<div class=""><div class="aHl"></div><div id=":p9" tabindex="-1"></div><div id=":oy" class="ii gt" jslog="20277; u014N:xr6bB; 1:WyIjdGhyZWFkLWY6MTc2NDMyNjg1NjA5MDQ1MTk0NCIsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsbnVsbCxudWxsLG51bGwsW11d; 4:WyIjbXNnLWY6MTc2NDMyNjg1NjA5MDQ1MTk0NCIsbnVsbCxbXV0."><div id=":ox" class="a3s aiL "><u></u>

    <div style="background-color:#ffffff">


        <div style="background-color:#ffffff">





            <div style="background:#f1f1f1;background-color:#f1f1f1;margin:0px auto;max-width:600px">

                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#f1f1f1;background-color:#f1f1f1;width:100%">
                    <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:0px 0px 0px 0px;text-align:center">


                            <div style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">

                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">

                                    <tbody><tr>
                                        <td style="font-size:0px;word-break:break-word">




                                            <div style="height:16px">
                                                &nbsp;
                                            </div>




                                        </td>
                                    </tr>

                                    </tbody></table>

                            </div>


                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>





            <div style="background:#fecb2f;background-color:#fecb2f;margin:0px auto;max-width:600px">

                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#fecb2f;background-color:#fecb2f;width:100%">
                    <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:28px 0px 28px 0px;text-align:center">


                            <div style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">

                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">

                                    <tbody><tr>
                                        <td align="left" style="font-size:0px;padding:0px 0px 0px 20px;word-break:break-word">

                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px">
                                                <tbody>
                                                <tr>
                                                    <td style="width:138px">

                                                        <img height="auto" src="https://ci4.googleusercontent.com/proxy/xNa3VIZQWkDtkL-vzPNcBPT9Ev9Jr8B2_1XQsPd193Fql8my40nk8KdXan4IVXSlC5JogzWRyQRMtX-kPD_AQCYgaRk8ZbUwn8QblJ0-HyhC0ZUSzhOl=s0-d-e1-ft#https://www.dropbox.com/s/6lrp2cibsgfghtp/1679422449890846.jpg?raw=1" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px" width="138" class="CToWUd" data-bit="iit">

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </td>
                                    </tr>

                                    </tbody></table>

                            </div>


                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>








            <div style="background:transparent;background-color:transparent;margin:0px auto;max-width:600px">

                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:transparent;background-color:transparent;width:100%">
                    <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:6px 0px 6px 0px;text-align:center">


                            <div style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">

                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">

                                    <tbody><tr>
                                        <td align="left" style="font-size:0px;padding:0px 15px 5px 15px;word-break:break-word">

                                            <div style="font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:13px;line-height:1.5;text-align:left;color:#000000">
                                                <p style="font-size:11px;font-family:Ubuntu,Helvetica,Arial"><span style="font-family:Arial,sans-serif;font-size:14px">Es wurde ein Antrag auf Lieferung Ihrer Waren durch einen Benutzer gestellt.</span></p>
                                            </div>

                                        </td>
                                    </tr>

                                    </tbody></table>

                            </div>


                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>





            <div style="background:transparent;background-color:transparent;margin:0px auto;max-width:600px">

                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:transparent;background-color:transparent;width:100%">
                    <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:0px 0px 0px 0px;text-align:center">


                            <div style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">

                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">

                                    <tbody><tr>
                                        <td align="left" style="font-size:0px;padding:0px 15px 15px 15px;word-break:break-word">

                                            <div style="font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:13px;line-height:1.5;text-align:left;color:#000000">
                                                <p style="font-size:11px;font-family:Ubuntu,Helvetica,Arial"><span style="font-family:Arial,sans-serif;font-size:14px">Sobald Sie darüber im Bilde sind, können Sie durch Klicken auf die folgende Schaltfläche zur Bestellbestätigungsseite gelangen.</span></p>
                                            </div>

                                        </td>
                                    </tr>

                                    </tbody></table>

                            </div>


                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>





            <div style="background:transparent;background-color:transparent;margin:0px auto;max-width:600px">

                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:transparent;background-color:transparent;width:100%">
                    <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:9px 0px 9px 0px;text-align:center">


                            <div style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">

                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">

                                    <tbody><tr>
                                        <td align="center" style="font-size:0px;padding:20px 20px 20px 20px;word-break:break-word">

                                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;line-height:100%">
                                                <tbody><tr>
                                                    <td align="center" bgcolor="#2bb82b" role="presentation" style="border:none;border-radius:24px;background:#2bb82b" valign="middle">
                                                        <a href="PutYourLinkHere" style="display:inline-block;background:#2bb82b;color:#ffffff;font-family:Ubuntu,Helvetica,Arial,sans-serif,Helvetica,Arial,sans-serif;font-size:17px;font-weight:normal;line-height:21.25px;margin:0;text-decoration:none;text-transform:none;padding:9px 26px 9px 26px;border-radius:2px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://wklej.to/MNGi&amp;source=gmail&amp;ust=1682679614052000&amp;usg=AOvVaw05MUwOhr-Vo4XDGzP3BNgz">
                                                            <span><strong><span style="font-family:Arial,sans-serif;font-size:17px">Weiter zum nächsten Schritt</span></strong></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody></table>

                                        </td>
                                    </tr>

                                    </tbody></table>

                            </div>


                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>





            <div style="background:transparent;background-color:transparent;margin:0px auto;max-width:600px">

                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:transparent;background-color:transparent;width:100%">
                    <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:9px 0px 9px 0px;text-align:center">


                            <div style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">

                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">

                                    <tbody><tr>
                                        <td align="left" style="font-size:0px;padding:15px 15px 15px 15px;word-break:break-word">

                                            <div style="font-family:Ubuntu,Helvetica,Arial,sans-serif;font-size:13px;line-height:1.5;text-align:left;color:#000000">
                                                <p style="font-size:11px;font-family:Ubuntu,Helvetica,Arial"><span style="font-family:Arial,sans-serif;font-size:14px"></span></p>
                                            </div>

                                        </td>
                                    </tr>

                                    </tbody></table>

                            </div>


                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>





            <div style="background:#f1f1f1;background-color:#f1f1f1;margin:0px auto;max-width:600px">

                <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#f1f1f1;background-color:#f1f1f1;width:100%">
                    <tbody>
                    <tr>
                        <td style="direction:ltr;font-size:0px;padding:9px 0px 9px 0px;text-align:center">


                            <div style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">

                                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top" width="100%">

                                    <tbody><tr>
                                        <td style="font-size:0px;word-break:break-word">




                                            <div style="height:5px">
                                                &nbsp;
                                            </div>




                                        </td>
                                    </tr>

                                    </tbody></table>

                            </div>


                        </td>
                    </tr>
                    </tbody>
                </table><div class="yj6qo"></div><div class="adL">

            </div></div><div class="adL">





        </div></div><div class="adL">

    </div></div><div class="adL">

    </div></div></div><div id=":pd" class="ii gt" style="display:none"><div id=":pe" class="a3s aiL "></div></div><div class="hi"></div></div>

</body>
</html>